<div class="text-center">
  <h1>Welcome to Recipeasy</h1>
  <p>Your ultimate recipe organizer and meal planner!</p>
  <a href="/recipes" class="btn btn-primary">Search Recipes</a>
  <a href="/users/sign_up" class="btn btn-secondary">Sign Up</a>
</div>
