
<% if @shopping_list %>
  <div>
    <h3><%= @shopping_list.name %></h3>
    <%= link_to 'Edit Shopping List', edit_shopping_list_path(@shopping_list), class: 'btn btn-warning' %>
  </div>
<% else %>
  <p>You don't have a shopping list yet.</p>
<% end %>

