<h1>Your Shopping List</h1>
<%= link_to 'View All Ingredients', ingredients_path, class: 'btn btn-primary mb-3' %>
<% if @shopping_list.ingredients.empty? %>
  <p>Your shopping list is empty. Start adding items to plan your meals!</p>
<% else %>
  <ul>
  <% @shopping_list.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name %>
      

    </li>
  <% end %>
  </ul>
<% end %>
