/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@import "template";

body {
    background: url(https://img.freepik.com/free-photo/top-view-fresh-vegetables-with-raw-pasta-dark-surface-ripe-food-meal-salad_140725-101940.jpg?t=st=1734032154~exp=1734035754~hmac=c6811c5e0cffcbaab7fbe3c061ff4aae27451d3537029e4a6cf107c88b23e08e&w=1380) no-repeat center center fixed;
    background-size: cover;
  }
  
  
  .home-button .btn-primary {
    background-color: darkorange;
    border-color: darkorange;
    margin: 10px 20px;
  }
  
  .home-button .btn-primary:hover {
    background-color: #e67e22; /* Slightly darker shade for hover */
    border-color: #e67e22;
  }
  
  .btn-primary {
    background-color: darkorange;
    border-color: darkorange;
  }
  
  .btn-primary:hover {
    background-color: #e67e22; /* slightly darker on hover */
    border-color: #e67e22;
  }
  

.auth-container{
  background-color: rgba(255,160,122,0.8);
}